*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}

/* esto es el header  */
.barra-superior{
    display: none;
}
.logo-nav{
    background-color: #F0A83E;
    height: 3.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 1rem;
    width: 8rem;
    padding-left: 2rem;
}
.menu{
    height: 1rem;
    width: 1.3rem;
    margin-right: 2rem;
}
.nav nav ul{
    display: none;
}

/* este es el section  */

.slide{
    height: 409px;
    background-image: url(../images/bowl.png);
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;
}
.mensajes{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

}
.mensajes h2{
    background-color: #FFFFFF;
    text-align: center;
    height: 35px;
    width: 22rem;
    font-size: 30px;
    margin: 10px;
}
.mensajes button{
    background-color: #F0A83E;
    color: #FFFFFF;
    height: 49px;
    width: 8.5rem;
    border-radius: 5px;
    margin: 10px;
    border: none;
}



.destacados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
.destacdos img{
    height: 84px;
    width: 6rem;
}
.destacados h2{
    font-size: 4.3rem;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem;
}
.cajas-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;

}
.caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 312px;
    width: 16.5rem;
    margin: 1rem;
    background-color: #FBFAF6;
}
.caja h4{
    color: #3C2313;
}
.caja P{
    color: #F0A83E;
}


.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario h3{
    color: #3C2313;
    font-size: 2.5rem;
    padding: 10px;
}
.field{
    width: 21rem;
    height: 40px;
    border-radius: 15px;
    background-color: #3C2313;
    color: #FFFFFF;
    margin: 5px;
}
.botones{
    margin: 1.5rem 0;
}
.reset{
    width: 12.5rem;
    height: 45px;
    border-radius: 15px;
    background-color: #8A8787;
    color: #FBFAF6;
    margin-top: 20px;
    border: none;
}
.send{
    width: 12.5rem;
    height: 45px;
    border-radius: 15px;
    background-color: #F0A83E;
    color: #FBFAF6;
    margin-top: 20px;
    border: none;
}


.suscribete{
    background-color: #F0A83E;
    height: 101px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}
.sus-left{
    display: flex;
    color: #FBFAF6;
    margin-bottom: 0.7rem;
}
.sus-left img{
    font-size: 2.5rem;
    margin: 0 1.5rem;
}
.sus-left p{
    font-size: 1.25rem;
    font-weight: 700;
}
.sus-right{
    padding-left: 5rem;
}
.sus-right input{
    height: 40px;
    width: 16.9rem;
    border-radius: 15px;
    border: none;
}
.sus-right button{
    background-color: #3C2313;
    color: #FBFAF6;
    border: none;
    font-size: 0.5rem;
    height: 34px;
    width: 4.3rem;
    border-radius: 15px;
}

/* esto es el footer  */

.contenido-foot{
    background-color: #3C2313;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconos-footer{
    color: #FBFAF6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconos{
    display: flex;
    align-items: center;
    margin: 20px;
}
.icono{
    height: 66px;
    width: 66px;
}
.text-ico{
    margin-left: 30px;
}

.barra-inferior{
    background-color: #222222;
    color: #FBFAF6;
    height: 20px;
    text-align: center;
}


/* aca estan las medias  */

@media (min-width: 600px){
    
    .barra-superior{
        background-color: #222222;
        color: #FFFFFF;
        height: 20px;
        display: flex;
        justify-content: space-between;
    }
    .barra-superior p{
        padding-left: 100px;
    }
    .barra-superior ul{
        display: flex;
        padding-right: 100px;
    }
    .barra-superior ul li{
        margin: 0 20px;
    }

    
    .logo{
        height: 23px;
        width: 166px;
        padding-left: 50px;
    }
    .menu{
        display: none;
    }
    .nav nav ul{
        display: flex;
        flex-direction: row;
        padding-right: 50px;
    }
    .nav ul li{
        margin: 0 15px;
        color: #FBFAF6;
    }


    .slide{
        height: 409px;
        background-image: url(../images/bowl.png);
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .destacados{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
    }
    .destacdos img{
        height: 84px;
        width: 6rem;
    }

    .cajas-productos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 70px 40px;
    }
    
    .reset{
        width: 110px;
        height: 34px;
        border-radius: 15px;
        background-color: #8A8787;
        color: #FBFAF6;
        margin-top: 20px;
        border: none;
    }
    .send{
        width: 110px;
        height: 34px;
        border-radius: 15px;
        background-color: #F0A83E;
        color: #FBFAF6;
        margin-top: 20px;
        border: none;
    }


    .suscribete{
        background-color: #F0A83E;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
    }
    .sus-right{
        margin: 0 40px;
    }
    

    .contenido-foot{
        background-color: #3C2313;
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .iconos-footer{
        color: #FBFAF6;
        margin-left: 60px;
    }
    .logo-foot{
        padding-right: 70px;
    }

}