* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* este el header */
ul{
    list-style-type: none;
}
header{
    margin: 3px;
}
.barra-superior{
    height: 20px;
    width: 100%;
    background-color:#222222;
    display: flex;
    color: white;
}

.logo-nav{
    position: relative;
    display: flex;
    width: 100%;
    height: 62px;
    top: 20px;
    background-color: #F0A83E;
    color: white;
}
.logo{
    position: absolute;
    width: 166,38px;
    height: 23px;
    top: 39px;
    left: 40px;
}