*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}

/* esto es el footer */

.barra-superior{
    background-color: #222222;
    color: #FFFFFF;
    height: 20px;
    display: flex;
    justify-content: space-between;
}
.barra-superior p{
    padding-left: 100px;
}
.barra-superior ul{
    display: flex;
    padding-right: 100px;
}
.barra-superior ul li{
    margin: 0 20px;
}



.logo-nav{
    background-color: #F0A83E;
    color: #FFFFFF;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 23px;
    width: 166px;
    padding-left: 50px;
}
.nav ul{
    display: flex;
    padding-right: 50px;
}
.nav ul li{
    margin: 0 15px;
}


/* esto es el section  */

.slide{
    height: 409px;
    background-image: url(../images/bowl.png);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.mensajes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
}
.mensajes h2{
    background-color: #FFFFFF;
    text-align: center;
    height: 35px;
    width: 365px;
    font-size: 30px;
    margin: 10px;
}
.mensajes button{
    background-color: #F0A83E;
    color: #FFFFFF;
    height: 49px;
    width: 141px;
    border-radius: 5px;
    margin: 10px;
    border: none;
}


.destacados{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.destacdos img{
    height: 71px;
    width: 67px;
}
.destacados h2{
    font-size: 40px;
    font-weight: 700;
    padding: 20px;
}


.cajas-productos{
    display: flex;
    justify-content: space-around;
    padding: 70px;

}
.caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 312px;
    width: 265px;
    background-color: #FBFAF6;
}
.caja h4{
    color: #3C2313;
}
.caja P{
    color: #F0A83E;
}



.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario h3{
    color: #3C2313;
    font-size: 25px;
    padding: 10px;
}
.field{
    width: 340px;
    height: 40px;
    border-radius: 15px;
    background-color: #3C2313;
    color: #FFFFFF;
    margin: 5px;
}
.reset{
    width: 110px;
    height: 34px;
    border-radius: 15px;
    background-color: #8A8787;
    color: #FBFAF6;
    margin-top: 20px;
    border: none;
}
.send{
    width: 110px;
    height: 34px;
    border-radius: 15px;
    background-color: #F0A83E;
    color: #FBFAF6;
    margin-top: 20px;
    border: none;
}


.suscribete{
    background-color: #F0A83E;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.sus-left{
    display: flex;
    color: #FBFAF6;
}
.sus-left img{
    font-size: 40px;
    margin: 0 20px;
}
.sus-left p{
    font-size: 20px;
    font-weight: 700;
}
.sus-right{
    margin: 0 40px;
}
.sus-right input{
    height: 40px;
    width: 271px;
    border-radius: 15px;
    border: none;
}
.sus-right button{
    background-color: #3C2313;
    color: #FBFAF6;
    border: none;
    font-size: 9px;
    height: 34px;
    width: 70px;
    border-radius: 15px;
}

/* esto es el footer  */

.contenido-foot{
    background-color: #3C2313;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iconos-footer{
    color: #FBFAF6;
    margin-left: 60px;
}
.iconos{
    display: flex;
    align-items: center;
    margin: 20px;
}
.icono{
    height: 66px;
    width: 66px;
}
.text-ico{
    margin-left: 30px;
}
.logo-foot{
    padding-right: 70px;
}
.barra-inferior{
    background-color: #222222;
    color: #FBFAF6;
    height: 20px;
    text-align: center;
}